<html>
<style>
div{
   color: red;
}

body{
    background-image: url(http://1hdwallpapers.com/wallpapers/snow_flurries.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 22px;
}
input[type='text'] { 
    font-size: 22px;
 }
 input[type='password'] { 
    font-size: 22px;
 }
 input[type='submit'] { 
    font-size: 20px;
 }
h4{
    color:red;
 }
 textarea{
     font-size:22px;
 }
label{
    font-size: 22px;
}
form {
    width: 30%;
    margin: 0 auto;
}
</style>
<form method="post">
<labe>
Group
<input type="text" name="Group">
</label>
<br>
<label>
To
<input type="text" name="To">
</label>
<br>

<label>
Clue
<textarea name="Clue"></textarea>
</label
<br>
<br>
<input type="submit" value="Post" name="Post">
<br>
<hr>
{% for clue in clues_tuple %}
    {{clue.to}}
    <br>
    {{clue.clue}}
    <br>
    <hr>
{%endfor%}
</form>
<br>
<form method="post" vertical-align="bottom">
<input type="submit" name="Logout" value="Logout">
</form>
</html>
